useDynLib(GLIDE)
importFrom("stats", "as.formula", "binomial", "formula", "glm",
             "model.matrix","rnorm","pnorm")
importFrom("MASS", "ginv")
import(foreach)
export(glide,glide_plot,remove_missingdata)
