useDynLib(GLIDE)
importFrom("stats", "as.formula", "binomial", "formula", "glm",
             "model.matrix","rnorm","pnorm")
importFrom("MASS", "ginv")
import(foreach)
import(doMC)
importFrom("parallel","detectCores")
export(glide,plot.glide,plot.egger,remove_missingdata)
